{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended" // uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "dist"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": ["off"],
    "comma-dangle": ["error", "always-multiline"],
    "dot-notation": "off",
    "eqeqeq": "error",
    "curly": ["error", "all"],
    "brace-style": ["error"],
    "prefer-arrow-callback": ["error"],
    "max-len": ["error", 140],
    "no-console": ["error"], // use the provided Homebridge log method instead
    "no-non-null-assertion": ["off"],
    "comma-spacing": ["error"],
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "no-trailing-spaces": ["error"],
    "lines-between-class-members": ["error", "always", {"exceptAfterSingleLine": true}],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/member-delimiter-style": ["error"]
  }
}
