# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build
permissions:
  contents: read

on: [pull_request]

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, latest]

    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6.0.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: pnpm
    - run: pnpm install --frozen-lockfile
    - run: pnpm lint
    - run: pnpm build